<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Destinations</title>
</head>
<body>
    <h1>Destinations</h1>
    {% if destinations %}
        <ul>
        {% for destination in destinations %}
                <li>{{destination.name}} in {{ destination.country }} - {{ destination.description }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No destinations found.</p>
    {% endif %}
</body>
</html>